*{
    box-sizing:border-box;
}

html,
body{

    margin:0;
    padding:0;

    width:100%;
    height:100%;

    overflow:hidden;

    font-family:Arial;

    background:#0f172a;

    color:white;
}

.container{

    display:flex;

    width:100%;

    height:100vh;
}

.sidebar{

    width:280px;

    min-width:280px;

    background:#111827;

    padding:20px;

    overflow-y:auto;

    border-right:1px solid #1e293b;
}

.main{

    flex:1;

    display:flex;

    flex-direction:column;

    padding:20px;

    overflow:hidden;
}

#messages{

    flex:1;

    overflow-y:auto;

    display:flex;

    flex-direction:column;

    gap:15px;
}

.user-message{

    align-self:flex-end;

    background:#2563eb;

    padding:15px;

    border-radius:15px;

    max-width:70%;
}

.bot-message{

    width:100%;

    background:#1e293b;

    padding:20px;

    border-radius:15px;

    line-height:1.7;
}

.input-box{

    margin-top:20px;
}

textarea{

    width:100%;

    height:90px;

    padding:15px;

    border:none;

    border-radius:10px;

    resize:none;
}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;
}

.chat-item{

    padding:12px;

    margin-top:10px;

    border-radius:10px;

    background:#1e293b;

    cursor:pointer;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;
}

.chat-item:hover{

    background:#334155;
}

#graphContainer{

    margin-top:20px;

    width:100%;
}

.score-row{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:12px;
}

.score-name{

    width:100px;
}

.score-bar{

    flex:1;

    height:18px;

    background:#334155;

    border-radius:20px;

    overflow:hidden;
}

.score-fill{

    height:100%;

    background:#2563eb;
}

@media(max-width:900px){

    .container{

        flex-direction:column;
    }

    .sidebar{

        width:100%;

        min-width:100%;

        height:220px;
    }

    .user-message{

        max-width:90%;
    }
}

#graphContainer{

    width:100%;

    margin-top:20px;

    padding:20px;

    background:#1e293b;

    border-radius:12px;

    min-height:350px;
}

.score-row{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:12px;
}

.score-name{

    width:100px;

    font-weight:bold;
}

.score-bar{

    flex:1;

    height:18px;

    background:#334155;

    border-radius:20px;

    overflow:hidden;
}

.score-fill{

    height:100%;

    background:#2563eb;
}